  <footer id="footer" class="footer">


    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
      <a href="index.html" class="logo d-flex align-items-center me-auto"><img src="/assets/img/elephas-logo-horizontal.png" alt="Elephas" style="height:40px"></a>
          <div class="footer-contact pt-3">
            <p>We partner with small and midsize teams to turn good intentions into working systems, especially in leasing and rentals where asset utilization, service workflows, and invoicing matter. We’ll keep it human, keep it moving, and keep score so you see progress.</p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/#about">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/#services">Services</a></li>          </ul>
        </div>

        <div class="col-lg-3 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="/business-central-implementation.html">BC Implementation</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/enginering-integrations.html">Engineering & Integrations</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/gl-migration-upgrades.html">GL Migration & Upgrades</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/hosting-web-mastering.html">Hosting & Web Mastering</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/design-services.html">Design Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="/custom-plugins-themes-seo.html">Custom Plugins, Themes & SEO</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="https://x.com/elephascorp"><i class="bi bi-twitter-x"></i></a>
            <a href="https://www.facebook.com/elephascorp/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/elephascorp/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/elephas-corp"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© 2026<span> Copyright</span> <strong class="px-1 sitename">Elephas Corp.</strong> <span>All Rights Reserved</span> <a href="/terms-of-service.html"> Terms or Service</a> | <a href="privacy-policy.html"> Privacy Policy</a></p>
    </div>

  </footer>
