<!-- Google tag (gtag.js) insert-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-79H477PVKN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // GA4
  gtag('config', 'G-79H477PVKN');
  // Google Ads base config
  gtag('config', 'AW-990445102');
</script>
<!--
<script>
  // Submit Contact Form conversion
  gtag('event', 'conversion', {
    'send_to': 'AW-990445102/UNiBCNDf_s4bEK78og9D'
  });
</script>
-->
  <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1600525836687823');
fbq('track', 'PageView');

  let name = "World";
console.log("Hello, " + name + "!"); // Output: Hello, World!
console.log({name}); // Output: { name: 'World' } (logs with variable name as key)

</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1600525836687823&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->


